In [727]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import metrics
from sklearn.preprocessing import Binarizer

In [728]:
df = pd.read_csv('train.csv')
le = preprocessing.LabelEncoder()

In [729]:
df.drop(columns=["PassengerId","Name","Ticket","Cabin"],inplace=True,axis=1)

In [730]:
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col].fillna(df[col].mean(),inplace=True)
    if df[col].dtype == object:
        df[col].fillna(df[col].mode()[0],inplace=True)
        df[col] = le.fit_transform(df[col])

In [731]:
X = np.array(df["Age"]).reshape(-1,1)
X = Binarizer(threshold=df["Age"].mean()).fit_transform(X)
df["Age"] = X.reshape(-1,1)

X = np.array(df["Fare"]).reshape(-1,1)
X = Binarizer(threshold=df["Fare"].mean()).fit_transform(X)
df["Fare"] = X.reshape(-1,1)
df

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0           0       3    1  0.0      1      0   0.0         2
1           1       1    0  1.0      1      0   1.0         0
2           1       3    0  0.0      0      0   0.0         2
3           1       1    0  1.0      1      0   1.0         2
4           0       3    1  1.0      0      0   0.0         2
..        ...     ...  ...  ...    ...    ...   ...       ...
886         0       2    1  0.0      0      0   0.0         2
887         1       1    0  0.0      0      0   0.0         2
888         0       3    0  0.0      1      2   0.0         2
889         1       1    1  0.0      0      0   0.0         0
890         0       3    1  1.0      0      0   0.0         1

[891 rows x 8 columns]

In [732]:
y = df["Survived"]
df.drop("Survived",inplace=True,axis=1)
x = df.values

In [733]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [734]:
#Training Accuracy
y_pred = dtc.predict(x)
y_pred = np.array(y_pred)
y_train = np.array(y)
print(metrics.classification_report(y_train, y_pred))
print(metrics.confusion_matrix(y_train, y_pred))
print(metrics.accuracy_score(y_train,y_pred)*100)

              precision    recall  f1-score   support

           0       0.83      0.96      0.89       549
           1       0.91      0.68      0.78       342

    accuracy                           0.85       891
   macro avg       0.87      0.82      0.83       891
weighted avg       0.86      0.85      0.85       891

[[527  22]
 [110 232]]
85.18518518518519

# Testing Phase

In [735]:
df = pd.read_csv('test.csv')
passenger_id = np.array(df.PassengerId)

In [736]:
df.drop(columns=["PassengerId","Name","Ticket","Cabin"],inplace=True,axis=1)

In [737]:
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col].fillna(df[col].mean(),inplace=True)
    if df[col].dtype == object:
        df[col].fillna(df[col].mode()[0],inplace=True)
        df[col] = le.fit_transform(df[col])

In [738]:
X = np.array(df["Age"]).reshape(-1,1)
X = Binarizer(threshold=df["Age"].mean()).fit_transform(X)
df["Age"] = X.reshape(-1,1)

X = np.array(df["Fare"]).reshape(-1,1)
X = Binarizer(threshold=df["Fare"].mean()).fit_transform(X)
df["Fare"] = X.reshape(-1,1)
df

     Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0         3    1  1.0      0      0   0.0         1
1         3    0  1.0      1      0   0.0         2
2         2    1  1.0      0      0   0.0         1
3         3    1  0.0      0      0   0.0         2
4         3    0  0.0      1      1   0.0         2
..      ...  ...  ...    ...    ...   ...       ...
413       3    1  0.0      0      0   0.0         2
414       1    0  1.0      0      0   1.0         0
415       3    1  1.0      0      0   0.0         2
416       3    1  0.0      0      0   0.0         2
417       3    1  0.0      1      1   0.0         0

[418 rows x 7 columns]

In [739]:
x_test = df.values

In [740]:
#Testing Accuracy
y_pred = dtc.predict(x_test)
y_pred = np.array(y_pred)
print(np.unique(y_pred,return_counts=True))
values = np.vstack((passenger_id, y_pred)).transpose()

(array([0, 1]), array([289, 129]))

In [741]:
prediction_df = pd.DataFrame(values,columns=["PassengerId","Survived"])

In [742]:
prediction_df.to_csv('out.csv',index=False)